:root {
    --gravitysmtp-admin-box-shadow-micro: 0 1px 4px rgba(18, 25, 97, 0.0779552);
    --gravitysmtp-admin-box-shadow-datepicker: 0 0.125rem 0.75rem rgba(28, 31, 63, 0.09);
    --gravitysmtp-admin-box-shadow-popup: 0 0 1px rgba(18, 25, 97, 0.24), 0 24px 24px rgba(18, 25, 97, 0.03), 0 2px 2px rgba(18, 25, 97, 0.03), 0 4px 4px rgba(18, 25, 97, 0.03), 0 8px 8px rgba(18, 25, 97, 0.03), 0 16px 16px rgba(18, 25, 97, 0.03);
    --gravitysmtp-admin-box-shadow-toggle: 0 3px 8px rgba(18, 25, 97, 0.15), 0 1px 1px rgba(18, 25, 97, 0.16), 0 2px 1px rgba(18, 25, 97, 0.04);
    --gravitysmtp-admin-box-shadow-mega: 0 24px 24px rgba(18, 25, 97, 0.03), 0 2px 2px rgba(18, 25, 97, 0.03), 0 4px 4px rgba(18, 25, 97, 0.03), 0 8px 8px rgba(18, 25, 97, 0.03), 0 16px 16px rgba(18, 25, 97, 0.03);
    --gravitysmtp-admin-box-shadow-focus-light: 0 0 0 1px var(--gravitysmtp-admin-color-focus);
    --gravitysmtp-admin-box-shadow-focus: 0 0 0 2px var(--gravitysmtp-admin-color-focus);
    --gravitysmtp-admin-box-shadow-focus-sm: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 2px var(--gravitysmtp-admin-color-white-lilac);
    --gravitysmtp-admin-box-shadow-focus-state: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 2px var(--gravitysmtp-admin-color-focus);
    --gravitysmtp-admin-box-shadow-button: 0 1px 2px rgba(0, 0, 0, 0.05);
    --gravitysmtp-admin-box-shadow-small: var(--gravitysmtp-admin-box-shadow-datepicker);
    --gravitysmtp-admin-box-shadow-input-focus: 0 0.125rem 0.0675rem rgba(28, 31, 63, 0.0634624), 0 0 0 2px var(--gravitysmtp-admin-color-focus);
    --gravitysmtp-admin-box-shadow-input-hover: 0 0.25rem 0.25rem rgba(18, 25, 97, 0.0405344);
    --gravitysmtp-admin-box-shadow-input-error-focus: 0 0 0 2px var(--gravitysmtp-admin-color-background-red), 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    --gravitysmtp-admin-box-shadow-outline-light: 0 2px 2px rgba(58, 58, 87, 0.0596411);
    --gravitysmtp-admin-box-shadow-outline-light-hover: 0 4px 2px rgba(58, 58, 87, 0.1);
    --gravitysmtp-admin-box-shadow-outline-light-hover-alt: 0 2px 2px rgba(58, 58, 87, 0.0796);
    --gravitysmtp-admin-box-shadow-uber: 0 -10px 65px rgba(18, 25, 97, 0.09), 0 30px 30px rgba(18, 25, 97, 0.07), 0 15px 15px rgba(18, 25, 97, 0.06), 0 10px 8px rgba(18, 25, 97, 0.05), 0 4px 4px rgba(18, 25, 97, 0.04), 0 2px 2px rgba(18, 25, 97, 0.03);
    --gravitysmtp-admin-box-shadow-super: 0 3px 8px rgba(18, 25, 97, 0.15), 0 1px 1px rgba(18, 25, 97, 0.16), 0 2px 1px rgba(18, 25, 97, 0.04);
    --gravitysmtp-admin-box-shadow-midnight: 0 0 0 rgba(18, 25, 97, 0.05), 0 2px 5px rgba(18, 25, 97, 0.1), 0 1px 1px rgba(18, 25, 97, 0.15);
    --gravitysmtp-admin-color-white: #fff;
    --gravitysmtp-admin-color-black: #000;
    --gravitysmtp-admin-color-grey-500: #667085;
    --gravitysmtp-admin-color-anti-flash-white: #f2f3f5;
    --gravitysmtp-admin-color-titan-white: #fdfdff;
    --gravitysmtp-admin-color-light-blue: #f6f9fc;
    --gravitysmtp-admin-color-comet: #5b5e80;
    --gravitysmtp-admin-color-blue-haze: #c3c5db;
    --gravitysmtp-admin-color-metal-gray: #d3d3e0;
    --gravitysmtp-admin-color-white-lilac: #ecedf8;
    --gravitysmtp-admin-color-white-iris: #f4f5fb;
    --gravitysmtp-admin-color-alabaster: #f9f9f9;
    --gravitysmtp-admin-color-snuff: #d5d7e9;
    --gravitysmtp-admin-color-santas: #9092b0;
    --gravitysmtp-admin-color-amethyst-smoke: #9092b2;
    --gravitysmtp-admin-color-gravity-blue: #3e7da6;
    --gravitysmtp-admin-color-primary-light: #3985b7;
    --gravitysmtp-admin-color-chathams: #0f3d6c;
    --gravitysmtp-admin-color-orange: #f15a2b;
    --gravitysmtp-admin-color-orange-soda: #ff4f00;
    --gravitysmtp-admin-color-green: #22a753;
    --gravitysmtp-admin-color-hunter: #276a52;
    --gravitysmtp-admin-color-primary-green: #28b77e;
    --gravitysmtp-admin-color-tara: #e1f6ed;
    --gravitysmtp-admin-color-sugar-cane: #fbfffb;
    --gravitysmtp-admin-color-feta: #eefcf0;
    --gravitysmtp-admin-color-light-green: #f5fcf6;
    --gravitysmtp-admin-color-enchanted-meadow: #aed9b6;
    --gravitysmtp-admin-color-shamrock: #31c48d;
    --gravitysmtp-admin-color-emerald: #57c091;
    --gravitysmtp-admin-color-sea-green: #2f833d;
    --gravitysmtp-admin-color-rose-white: #fff9f9;
    --gravitysmtp-admin-color-once-bitten: #c02b0a;
    --gravitysmtp-admin-color-red: #dd301d;
    --gravitysmtp-admin-color-spanish-pink: #ffc7bb;
    --gravitysmtp-admin-color-background-red: #fee4e2;
    --gravitysmtp-admin-color-blue-ribbon: #175cff;
    --gravitysmtp-admin-color-light-pastel-yellow: #f7cf5c;
    --gravitysmtp-admin-color-yellow: #ffbe03;
    --gravitysmtp-admin-color-warning: #a16938;
    --gravitysmtp-admin-color-port-light: #374b6b;
    --gravitysmtp-admin-color-port: #242748;
    --gravitysmtp-admin-color-port-dark: #1c1f3f;
    --gravitysmtp-admin-color-spindle: #bed8ed;
    --gravitysmtp-admin-color-porcelain-gray: #e4e9eb;
    --gravitysmtp-admin-color-sazerac-yellow: #fff6e3;
    --gravitysmtp-admin-color-panache-green: #e1f3e6;
    --gravitysmtp-admin-color-science-blue: #044ad3;
    --gravitysmtp-admin-color-blue-50: #eff8ff;
    --gravitysmtp-admin-color-blue-200: #b2ddff;
    --gravitysmtp-admin-color-blue-500: #2e90fa;
    --gravitysmtp-admin-color-blue-700: #175cd3;
    --gravitysmtp-admin-color-zircon: #f4f8ff;
    --gravitysmtp-admin-color-broad-daylight: #c3d9ff;
    --gravitysmtp-admin-color-hawkes-blue: #dde9fc;
    --gravitysmtp-admin-color-iceberg-blue: #d6f1f3;
    --gravitysmtp-admin-color-maverick-purple: #e7e3f1;
    --gravitysmtp-admin-color-placeholder: var(--gravitysmtp-admin-color-comet);
    --gravitysmtp-admin-color-border: var(--gravitysmtp-admin-color-amethyst-smoke);
    --gravitysmtp-admin-color-mischka: #d2d5db;
    --gravitysmtp-admin-color-shuttle-gray: #585e6a;
    --gravitysmtp-admin-color-secondary-border: #e4e4ee;
    --gravitysmtp-admin-color-button-disabled: #639cc1;
    --gravitysmtp-admin-color-secondary-text: #6a6a80;
    --gravitysmtp-admin-color-focus: var(--gravitysmtp-admin-color-spindle);
    --gravitysmtp-admin-color-icon: var(--gravitysmtp-admin-color-amethyst-smoke);
    --gravitysmtp-admin-color-text: var(--gravitysmtp-admin-color-port);
    --gravitysmtp-admin-color-disabled: var(--gravitysmtp-admin-color-white-iris);
    --gravitysmtp-admin-color-error: var(--gravitysmtp-admin-color-red);
    --gravitysmtp-admin-color-button: var(--gravitysmtp-admin-color-gravity-blue);
    --gravitysmtp-admin-icon--circle-lightning-bolt: "\e937";
    --gravitysmtp-admin-icon--chevron-right: "\e936";
    --gravitysmtp-admin-icon--check-alt: "\e935";
    --gravitysmtp-admin-icon--filters: "\e934";
    --gravitysmtp-admin-icon--arrow-sm-down: "\e932";
    --gravitysmtp-admin-icon--arrow-sm-up: "\e933";
    --gravitysmtp-admin-icon--exclamation-circle: "\e92b";
    --gravitysmtp-admin-icon--document-text: "\e92c";
    --gravitysmtp-admin-icon--check-circle: "\e92a";
    --gravitysmtp-admin-icon--x-circle: "\e930";
    --gravitysmtp-admin-icon--failed: "\e939";
    --gravitysmtp-admin-icon--arrow-narrow-left: "\e929";
    --gravitysmtp-admin-icon--arrow-narrow-right: "\e926";
    --gravitysmtp-admin-icon--expand: "\e927";
    --gravitysmtp-admin-icon--contract: "\e928";
    --gravitysmtp-admin-icon--dashboard-icon: "\e904";
    --gravitysmtp-admin-icon--account: "\e92d";
    --gravitysmtp-admin-icon--circle-tool: "\e908";
    --gravitysmtp-admin-icon--clipboard-check: "\e909";
    --gravitysmtp-admin-icon--cloud1: "\e90b";
    --gravitysmtp-admin-icon--cog: "\e90c";
    --gravitysmtp-admin-icon--cursor-click: "\e90d";
    --gravitysmtp-admin-icon--wand: "\e924";
    --gravitysmtp-admin-icon--dots-horizontal: "\e90e";
    --gravitysmtp-admin-icon--dots-vertical: "\e90f";
    --gravitysmtp-admin-icon--export: "\e910";
    --gravitysmtp-admin-icon--switch-horizontal: "\e917";
    --gravitysmtp-admin-icon--eye: "\e911";
    --gravitysmtp-admin-icon--mail-open: "\e912";
    --gravitysmtp-admin-icon--mail: "\e913";
    --gravitysmtp-admin-icon--paper-plane: "\e915";
    --gravitysmtp-admin-icon--paper-clip: "\e914";
    --gravitysmtp-admin-icon--routing: "\e916";
    --gravitysmtp-admin-icon--beaker: "\e919";
    --gravitysmtp-admin-icon--settings: "\e901";
    --gravitysmtp-admin-icon--calendar: "\e905";
    --gravitysmtp-admin-icon--save-disk: "\e907";
    --gravitysmtp-admin-icon--desktop: "\e92e";
    --gravitysmtp-admin-icon--mobile: "\e92f";
    --gravitysmtp-admin-icon--copy: "\e923";
    --gravitysmtp-admin-icon--clock: "\e918";
    --gravitysmtp-admin-icon--trash: "\e900";
    --gravitysmtp-admin-icon--debug: "\e902";
    --gravitysmtp-admin-icon--closed-lock: "\e903";
    --gravitysmtp-admin-icon--check: "\e906";
    --gravitysmtp-admin-icon--x: "\e90a";
    --gravitysmtp-admin-icon--api: "\e91a";
    --gravitysmtp-admin-icon--primary: "\e91b";
    --gravitysmtp-admin-icon--left-arrow: "\e91c";
    --gravitysmtp-admin-icon--right-arrow: "\e925";
    --gravitysmtp-admin-icon--accordion-arrow: "\e931";
    --gravitysmtp-admin-icon--correct: "\e91d";
    --gravitysmtp-admin-icon--exclamation-simple: "\e91e";
    --gravitysmtp-admin-icon--checkmark-simple: "\e91f";
    --gravitysmtp-admin-icon--information-simple: "\e920";
    --gravitysmtp-admin-icon--lock: "\e938";
    --gravitysmtp-admin-icon--question-mark-simple: "\e921";
    --gravitysmtp-admin-icon--x-simple: "\e922";
    --gravitysmtp-admin-spacer-1: var(--gravitysmtp-common-spacer-1);
    --gravitysmtp-admin-spacer-2: var(--gravitysmtp-common-spacer-2);
    --gravitysmtp-admin-spacer-3: var(--gravitysmtp-common-spacer-3);
    --gravitysmtp-admin-spacer-4: var(--gravitysmtp-common-spacer-4);
    --gravitysmtp-admin-spacer-5: var(--gravitysmtp-common-spacer-5);
    --gravitysmtp-admin-spacer-6: var(--gravitysmtp-common-spacer-6);
    --gravitysmtp-admin-spacer-8: var(--gravitysmtp-common-spacer-8);
    --gravitysmtp-admin-spacer-10: var(--gravitysmtp-common-spacer-10);
    --gravitysmtp-admin-spacer-12: var(--gravitysmtp-common-spacer-12);
    --gravitysmtp-admin-spacer-16: var(--gravitysmtp-common-spacer-16);
    --gravitysmtp-admin-spacer-20: var(--gravitysmtp-common-spacer-20);
    --gravitysmtp-admin-spacer-24: var(--gravitysmtp-common-spacer-24);
    --gravitysmtp-admin-spacer-32: var(--gravitysmtp-common-spacer-32);
    --gravitysmtp-admin-spacer-40: var(--gravitysmtp-common-spacer-40);
    --gravitysmtp-admin-spacer-48: var(--gravitysmtp-common-spacer-48);
    --gravitysmtp-admin-spacer-56: var(--gravitysmtp-common-spacer-56);
    --gravitysmtp-admin-spacer-64: var(--gravitysmtp-common-spacer-64);
    --gravitysmtp-admin-transition-hover: all 0.15s ease;
    --gravitysmtp-admin-transition-hover-slow: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    --gravitysmtp-admin-transition-color: color 0.15s ease;
    --gravitysmtp-admin-transition-dropdown: opacity 0.15s ease;
    --gravitysmtp-admin-transition-button: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
    --gravitysmtp-admin-transition-inputs: box-shadow 0.15s ease, background-color 0.15s ease;
    --gravitysmtp-admin-transition-toggles: left 0.25s ease;
    --gravitysmtp-admin-transition-cl-button-focus: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    --gravitysmtp-admin-transition-cl-flyout-reveal: opacity 190ms ease-in-out, transform 190ms ease-in-out;
    --gravitysmtp-admin-font-family-icons-old: "gravitysmtp-icons-admin";
    --gravitysmtp-admin-font-size-base-old: 0.8125rem;
    --gravitysmtp-admin-font-size-large-label: 1.0625rem;
    --gravitysmtp-admin-line-height-base-old: 1.188rem;
    --gravitysmtp-admin-line-height-label: 1.125rem;
    --gravitysmtp-admin-font-family-base: var(--gravitysmtp-common-font-family-base);
    --gravitysmtp-admin-font-family-icons: var(--gravitysmtp-common-font-family-icons);
    --gravitysmtp-admin-font-weight-normal: var(--gravitysmtp-common-font-weight-normal);
    --gravitysmtp-admin-font-weight-medium: var(--gravitysmtp-common-font-weight-medium);
    --gravitysmtp-admin-font-weight-semibold: var(--gravitysmtp-common-font-weight-semibold);
    --gravitysmtp-admin-font-size-2xs: var(--gravitysmtp-common-font-size-2xs);
    --gravitysmtp-admin-font-size-xs: var(--gravitysmtp-common-font-size-xs);
    --gravitysmtp-admin-font-size-sm: var(--gravitysmtp-common-font-size-sm);
    --gravitysmtp-admin-font-size-base: var(--gravitysmtp-common-font-size-base);
    --gravitysmtp-admin-font-size-md: var(--gravitysmtp-common-font-size-md);
    --gravitysmtp-admin-font-size-lg: var(--gravitysmtp-common-font-size-lg);
    --gravitysmtp-admin-font-size-xl: var(--gravitysmtp-common-font-size-xl);
    --gravitysmtp-admin-font-size-2xl: var(--gravitysmtp-common-font-size-2xl);
    --gravitysmtp-admin-font-size-3xl: var(--gravitysmtp-common-font-size-3xl);
    --gravitysmtp-admin-font-size-4xl: var(--gravitysmtp-common-font-size-4xl);
    --gravitysmtp-admin-font-size-5xl: var(--gravitysmtp-common-font-size-5xl);
    --gravitysmtp-admin-font-size-6xl: var(--gravitysmtp-common-font-size-6xl);
    --gravitysmtp-admin-font-size-7xl: var(--gravitysmtp-common-font-size-7xl);
    --gravitysmtp-admin-line-height-none: var(--gravitysmtp-common-line-height-none);
    --gravitysmtp-admin-line-height-even: var(--gravitysmtp-common-line-height-even);
    --gravitysmtp-admin-line-height-6xs: var(--gravitysmtp-common-line-height-6xs);
    --gravitysmtp-admin-line-height-5xs: var(--gravitysmtp-common-line-height-5xs);
    --gravitysmtp-admin-line-height-4xs: var(--gravitysmtp-common-line-height-4xs);
    --gravitysmtp-admin-line-height-3xs: var(--gravitysmtp-common-line-height-3xs);
    --gravitysmtp-admin-line-height-2xs: var(--gravitysmtp-common-line-height-2xs);
    --gravitysmtp-admin-line-height-xs: var(--gravitysmtp-common-line-height-xs);
    --gravitysmtp-admin-line-height-sm: var(--gravitysmtp-common-line-height-sm);
    --gravitysmtp-admin-line-height-base: var(--gravitysmtp-common-line-height-base);
    --gravitysmtp-admin-line-height-md: var(--gravitysmtp-common-line-height-md);
    --gravitysmtp-admin-line-height-lg: var(--gravitysmtp-common-line-height-lg);
    --gravitysmtp-admin-letter-spacing-tight: var(--gravitysmtp-common-letter-spacing-tight);
    --gravitysmtp-admin-letter-spacing-normal: var(--gravitysmtp-common-letter-spacing-normal);
    --gravitysmtp-admin-viewport-sm: (min-width: 640px);
    --gravitysmtp-admin-viewport-sm-down: (max-width: 640px);
    --gravitysmtp-admin-viewport-md-down: (max-width: 768px);
    --gravitysmtp-admin-viewport-md: (min-width: 768px);
    --gravitysmtp-admin-viewport-wpadmin: (min-width: 783px);
    --gravitysmtp-admin-viewport-rg-960-down: (max-width: 960px);
    --gravitysmtp-admin-viewport-rg-960: (min-width: 960px);
    --gravitysmtp-admin-viewport-lg: (min-width: 1280px);
    --gravitysmtp-admin-viewport-xxlarge: (min-width: 1390px);
}
