:root {
    --gravitysmtp-common-spacer-1: 0.25rem;
    --gravitysmtp-common-spacer-2: 0.5rem;
    --gravitysmtp-common-spacer-3: 0.75rem;
    --gravitysmtp-common-spacer-4: 1rem;
    --gravitysmtp-common-spacer-5: 1.25rem;
    --gravitysmtp-common-spacer-6: 1.5rem;
    --gravitysmtp-common-spacer-8: 2rem;
    --gravitysmtp-common-spacer-10: 2.5rem;
    --gravitysmtp-common-spacer-12: 3rem;
    --gravitysmtp-common-spacer-16: 4rem;
    --gravitysmtp-common-spacer-20: 5rem;
    --gravitysmtp-common-spacer-24: 6rem;
    --gravitysmtp-common-spacer-32: 8rem;
    --gravitysmtp-common-spacer-40: 10rem;
    --gravitysmtp-common-spacer-48: 12rem;
    --gravitysmtp-common-spacer-56: 14rem;
    --gravitysmtp-common-spacer-64: 16rem;
    --gravitysmtp-common-font-family-base: inter, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    --gravitysmtp-common-font-family-icons: "gravitysmtp-icons-common";
    --gravitysmtp-common-font-weight-normal: 400;
    --gravitysmtp-common-font-weight-medium: 500;
    --gravitysmtp-common-font-weight-semibold: 600;
    --gravitysmtp-common-font-weight-bold: 700;
    --gravitysmtp-common-font-size-2xs: 0.625rem;
    --gravitysmtp-common-font-size-xs: 0.75rem;
    --gravitysmtp-common-font-size-sm: 0.875rem;
    --gravitysmtp-common-font-size-base: 1rem;
    --gravitysmtp-common-font-size-md: 1.125rem;
    --gravitysmtp-common-font-size-lg: 1.25rem;
    --gravitysmtp-common-font-size-xl: 1.5rem;
    --gravitysmtp-common-font-size-2xl: 1.875rem;
    --gravitysmtp-common-font-size-3xl: 2.25rem;
    --gravitysmtp-common-font-size-4xl: 2.875rem;
    --gravitysmtp-common-font-size-5xl: 3rem;
    --gravitysmtp-common-font-size-6xl: 3.75rem;
    --gravitysmtp-common-font-size-7xl: 4.5rem;
    --gravitysmtp-common-line-height-none: 0;
    --gravitysmtp-common-line-height-even: 1;
    --gravitysmtp-common-line-height-6xs: 1.09;
    --gravitysmtp-common-line-height-5xs: 1.2;
    --gravitysmtp-common-line-height-4xs: 1.22;
    --gravitysmtp-common-line-height-3xs: 1.25;
    --gravitysmtp-common-line-height-2xs: 1.27;
    --gravitysmtp-common-line-height-xs: 1.33;
    --gravitysmtp-common-line-height-sm: 1.43;
    --gravitysmtp-common-line-height-base: 1.5;
    --gravitysmtp-common-line-height-md: 1.56;
    --gravitysmtp-common-line-height-lg: 1.6;
    --gravitysmtp-common-letter-spacing-tight: -0.02em;
    --gravitysmtp-common-letter-spacing-normal: 0;
}
